@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900";
@import "../../node_modules/bootstrap/scss/bootstrap";

$bodyBackground: #171717;
$fontColor: #e3e3e3;
$linkColorSocial: #6c757d;
$linkColorHoverSocial: #0091ff;
$linkColor: #4db2ff;
$linkColorHover: #0091ff;
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #78d5ef;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

@keyframes ldsEllipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ldsEllipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes ldsEllipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: $bodyBackground;
  color: $fontColor;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  font-weight: 500;
}

p {
  line-height: 2;
  font-weight: 400;
}


a {
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  text-decoration: none;
  outline: 0 solid transparent;
  color: $linkColor;
  font-weight: 500;
  font-size: 14px;

  &:focus, &:hover {
    color: $linkColorHover;
  }
}

img {
  height: auto;
  max-width: 100%;
}

input {
  &:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
  }
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-50 {
  padding: 50px !important;
}

.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
  text-align: center;

  h4 {
    font-weight: 700;
    margin-bottom: 10px;
  }

  .line {
    width: 150px;
    height: 1px;
    background-color: $linkColorSocial;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    &::after {
      width: 60px;
      height: 2px;
      background-color: $linkColorHoverSocial;
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -30px;
    }
  }

  &.style-2 {
    text-align: left;
    .line {
      width: 100%;
      &::after {
        left: 0;
        margin-left: 0;
      }
    }
  }
}

#mainContent {
  margin-top: 9vh;
}

.single-blog-post {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  .post-thumbnail {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    max-width: 100px;
    width: 100px;

    img {
      width: 100%;
    }
  }

  .post-content {
    position: relative;
    z-index: 1;
    padding-left: 20px;

    .post-title {
      margin-bottom: 5px;
      display: block;
      font-size: 3rem;
      font-weight: 700;
    }

    .post-meta {
      a {
        display: inline-block;
        font-size: 12px;
      }
    }
  }

  &.style-2 {
    margin-bottom: 0;

    .post-thumbnail {
      position: relative;
      z-index: 1;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
      flex: 0 0 110px;
      max-width: 110px;
      width: 110px;

      img {
        width: 100%;
      }
    }

    .post-content {
      position: relative;
      z-index: 1;
      padding-left: 20px;

      .post-title {
        margin-bottom: 10px;
        display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
      }

      .post-meta {
        span {
          display: inline-block;
          color: var(--grey);
          font-size: 12px;
        }
      }
    }
  }

  &.style-3 {
    margin-bottom: 0;

    .post-thumbnail {
      position: relative;
      z-index: 1;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
      flex: 0 0 140px;
      max-width: 140px;
      width: 140px;
    }

    .post-content {
      .post-title {
        margin-bottom: 15px;
        display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
      }

      .post-meta {
        span {
          display: inline-block;
          font-size: 12px;
        }
      }
    }
  }
}

.single-post-area {
  position: relative;
  z-index: 1;

  .post-thumbnail {
    position: relative;
    z-index: 1;
  }

  .post-content {
    position: relative;
    z-index: 1;
    margin-top: 20px;

    .post-title {
      display: block;
      margin-bottom: 15px;
      font-size: 3rem;
    }

    .post-meta {
      color: #8c8c8c;

      a {
        display: inline-block;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }

      .post-author {
        display: inline-block;
        margin-right: 20px;
      }

      .fa-circle {
        color: var(--grey);
        font-size: 6px;
        margin-right: 20px;
      }
    }
  }

  &.style-2 {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #393c3d;
  }
}

.post-details-content {
  position: relative;
  z-index: 1;

  .post-content {
    position: relative;
    z-index: 1;
    margin-top: 20px;

    .post-title {
      display: block;
      margin-bottom: 15px;
      font-size: 3rem;
    }

    .post-meta {
      color: #8c8c8c;

      a {
        display: inline-block;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }

      .post-author {
        display: inline-block;
        margin-right: 20px;
      }

      .fa-circle {
        color: var(--grey);
        font-size: 6px;
        margin-right: 20px;
      }
    }
  }
}

.post-tags {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #393c3d;
  border-top: 1px solid #393c3d;
  padding: 40px 0;

  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    li {
      display: inline-block;
      background-color: lighten($bodyBackground, 30%);
      padding: 5px 12px;
      border-radius: 2px;
      font-size: 12px;
      text-transform: uppercase;
      color: darken($fontColor, 30%);
      font-weight: 400;
      letter-spacing: 1px;
      margin: 3px;
    }
  }
}

.post-author {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #393c3d;

  .post-author-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    max-width: 120px;
    width: 120px;
  }
}

.comment_area {
  position: relative;
  z-index: 1;
  border-top: 1px solid #393c3d;
  border-bottom: 1px solid #393c3d;
  padding-bottom: 50px;
  padding-top: 50px;

  .single_comment_area {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.single-widget {
  position: relative;
  z-index: 1;
  border: 1px solid #393c3d;
  border-radius: 3px;
  padding: 40px 30px;
}

.author-widget {
  position: relative;
  z-index: 1;
  text-align: center;

  .author-avatar {
    margin: 0 auto 20px;
    width: 120px;
    height: 120px;
    display: block;
    border-radius: 50%;
  }

  .author-name {
    display: block;
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .author-social-info {
    position: relative;
    z-index: 1;
    margin-bottom: 10px;

    a {
      display: inline-block;
      padding: 0 8px;
    }
  }

  p {
    color: #fff;
  }
}

.add-widget {
  img {
    width: 100%;
  }
}

#post-container {
  min-height: 72vh;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 767px) {
  .section-heading {
    h4 {
      font-size: 20px;
    }
  }

  .single-blog-post {
    .post-thumbnail {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
      flex: 0 0 80px;
      max-width: 80px;
      width: 80px;
    }

    &.style-2 {
      .post-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
        width: 80px;
      }

      .post-content {
        .post-title {
          font-size: 13px;
        }
      }
    }

    &.style-3 {
      .post-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
        flex: 0 0 100px;
        max-width: 100px;
        width: 100px;
      }

      .post-content {
        .post-title {
          font-size: 14px;
        }
      }
    }
  }

.single-post-area {
  .post-thumbnail {
    margin-bottom: 30px;
  }
}

.post-details-content {
  .post-content {
    .post-meta {
      a {
        margin-right: 8px;
        font-size: 12px;
      }

      .fa-circle {
        margin-right: 8px;
      }
    }
  }
}

.post-author {
  .post-author-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    max-width: 80px;
    width: 80px;
  }
}

.post-a-comment-area {
  margin-bottom: 80px;
}

.single-widget {
  padding: 30px 20px;
}

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-blog-post {
    .post-thumbnail {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
      flex: 0 0 80px;
      max-width: 80px;
      width: 80px;
    }

    &.style-2 {
      .post-content {
        .post-title {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-blog-post {
    .post-thumbnail {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
      flex: 0 0 80px;
      max-width: 80px;
      width: 80px;
    }

    &.style-2 {
      .post-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
        width: 80px;
      }

      .post-content {
        .post-title {
          font-size: 13px;
        }
      }
    }
  }

  .single-post-area {
    .post-thumbnail {
      margin-bottom: 30px;
    }
  }
  .archive-list-posts-area {
    .single-post-area {
      .post-thumbnail {
        margin-bottom: 0;
      }
    }
  }
  .post-a-comment-area {
    margin-bottom: 80px;
  }
  .single-widget {
    padding: 30px 20px;
  }
}

.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 3;
  top: 10px;

  .navbar-brand {
    color: #fff;
  }

  .top-social-info a {
    color: $linkColorSocial;
    display: inline-block;
    padding: 0 8px;

    &:focus, &:hover {
      color: $linkColorHoverSocial;
    }
  }

  .navbar-nav {
    > .nav-item {
      > .nav-link {
        font-size: 14px;
        padding: .9rem 0;
        color: rgba(255, 255, 255, 0.9);
        font-weight: 400;
        opacity: 1 !important;

        &:hover {
          color: #ce9c6b;
        }
      }

      .dropdown-menu {
        border: none;
        background: #fff;
        -webkit-box-shadow: 0 10px 34px -20px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: 0 10px 34px -20px rgba(0, 0, 0, 0.41);
        box-shadow: 0 10px 34px -20px rgba(0, 0, 0, 0.41);
      }
    }

    > .nav-item.ftco-seperator {
      position: relative;
      margin-left: 20px;
      padding-left: 20px;

      &:before {
        position: absolute;
        content: "";
        top: 10px;
        bottom: 10px;
        left: 0;
        width: 2px;
        background: rgba(255, 255, 255, 0.05);
      }
    }

    > .nav-item.cta {
      > a {
        color: #fff;
        border: 1px solid #ce9c6b;
        background: #ce9c6b;
        padding: .5rem 20px;
        margin-top: 4px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;

        span {
          display: inline-block;
          color: #fff;
        }

        &:hover {
          background: #ce9c6b;
          border: 1px solid #ce9c6b;
        }
      }
    }

    > .nav-item.cta.cta-colored {
      span {
        border-color: #ce9c6b;
      }
    }

    > .nav-item.active {
      > a {
        color: #ce9c6b;
      }
    }
  }

  .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.8) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
  }
}

.ftco-navbar-light.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
  background: #1b1b1b !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .nav-item {
    > .nav-link {
      color: #fff !important;
    }
  }

  .nav-item.active {
    > a {
      color: #ce9c6b !important;
    }
  }

  .nav-item.cta {
    > a {
      color: #fff !important;
      background: #ce9c6b;
      border: none !important;
      padding-top: 0.5rem !important;
      padding-bottom: .5rem !important;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 6px !important;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;

      span {
        display: inline-block;
        color: #fff !important;
      }
    }
  }

  .nav-item.cta.cta-colored {
    span {
      border-color: #ce9c6b;
    }
  }

  .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.8) !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
  }

  .nav-link {
    padding-top: 0.9rem !important;
    padding-bottom: 0.9rem !important;
    color: #000 !important;
  }

  .nav-link.active {
    color: #ce9c6b !important;
  }

  .navbar-brand {
    color: #fff;
  }
}

.ftco-navbar-light.scrolled.awake {
  margin-top: 0;
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.ftco-navbar-light.scrolled.sleep {
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light {
    background: #000 !important;
    top: 0;
    position: relative;

    .navbar-nav {
      > .nav-item.ftco-seperator {
        padding-left: 0;
        margin-left: 0;

        &:before {
          display: none;
        }
      }
    }
  }
  .ftco-navbar-light.scrolled {
    .navbar-nav {
      background: none;
      border-radius: 0;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

@media (min-width: 768px) {
  .ftco-navbar-light {
    .navbar-brand {
      color: #fff;
    }

    .navbar-nav {
      > .nav-item {
        > .nav-link {
          padding: 1.5rem 20px;
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .ftco-navbar-light {
    .navbar-nav {
      > .nav-item.cta {
        margin-bottom: 20px;
      }
    }
  }
  .ftco-navbar-light.scrolled {
    .navbar-nav {
      background: none;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}


//*****************search
.top-search-area {
  position: relative;
  z-index: 1;

  form {
    position: relative;
    z-index: 1;
    border-left: 1px solid #393c3d;
    border-right: 1px solid #393c3d;

    input {
      -webkit-transition-duration: .5s;
      -o-transition-duration: .5s;
      transition-duration: .5s;
      width: 250px;
      height: 50px;
      border: none;
      color: var(--grey);
      font-size: 14px;
      font-style: italic;
      padding: 0 20px;
      background-color: transparent;

      &:focus {
        box-shadow: none;
      }
    }

    button {
      position: absolute;
      width: 16px;
      max-width: 16px;
      height: 50px;
      background-color: transparent;
      top: 50%;
      right: 20px;
      font-size: 16px;
      z-index: 99;
      border: none;
      padding: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: $linkColor;

      &:focus {
        box-shadow: none;
      }

      &:hover {
        color: $linkColorHover;
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .top-header-area {
    .top-social-info {
      a {
        padding: 0 10px;
      }
    }

    .top-search-area {
      form {
        input {
          width: 260px;
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .top-header-area {
    .top-search-area {
      form {
        input {
          width: 230px;
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .top-header-area {
    height: auto;

    .top-social-info {
      a {
        padding: 0 5px;
        font-size: 12px;
      }
    }

    .top-search-area {
      form {
        border-left: none;
        border-right: none;

        input {
          width: 115px;
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .top-header-area {
    .top-social-info {
      a {
        padding: 0 8px;
      }
    }

    .top-search-area {
      form {
        input {
          width: 200px;
        }
      }
    }
  }
}
