@use "../../../node_modules/bootstrap/scss/bootstrap.scss";
@use "bs5_docs";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900";

.show-code {
  cursor: pointer;
}

.tab-content > .active {
  min-height: 35vh;
  max-height: 35vh;
  overflow-y: auto;
}

section:not(:last-child) {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid grey;
}

section h2 {
  margin-top: 3rem
}

#migration {
  textarea {
    height: 60vh;
  }

  /* hide the right side toc to give more room */
  @media (min-width: 768px) {
    .bd-main {
      display: grid;
      gap: inherit;
      grid-template-areas: "intro" "content";
      grid-template-rows: auto auto 1fr;
    }

    #convertButton, #convertButtonHtml {
      position: relative;
      top: 50%;
    }
  }

  @media (min-width: 992px) {
    .bd-main {
      grid-template-areas: "intro" "content";
      grid-template-columns: 4fr;
      grid-template-rows: auto 1fr;
    }
  }

  #alert {
    max-height: 20vh;
    overflow-y: scroll;
  }

  .tab-content > .active {
    min-height: initial;
    max-height: initial;
    overflow-y: initial;
  }
}