$td-timepicker-font-size: 1.2em !default;
$td-active-bg: #0d6efd !default;
$td-active-color: #fff !default;
$td-border-radius: 999px !default;
$td-btn-hover-bg: #e9ecef !default;
$td-disabled-color: #6c757d !default;
$td-alternate-color: #6c757d !default;
$td-secondary-border-color: #ccc !default;
$td-secondary-border-color-rgba: rgba(0, 0, 0, 0.2) !default;
$td-primary-border-color: white !default;
$td-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !default;

/*
todo look at how bootstrap loops through their vars to make a --root section
 */

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.tempus-dominus-widget {
  list-style: none;
  padding: 4px;
  width: 19rem;
  border-radius: 4px;
  display: none;
  background-color: white;
  border: 1px solid black;

  &.calendarWeeks {
    width: 21rem;

    &  .date-container-days {
      grid-auto-columns: 12.5%;
    }
  }

  [data-action] {
    cursor: pointer;

    &::after {
      @extend .visually-hidden;
      content: attr(title);
    }

    &.disabled,
    &.disabled:hover {
      background: none;
      color: $td-disabled-color;
      cursor: not-allowed;
    }
  }

  //popper
  .arrow {
    &::before {
      visibility: hidden;
      position: absolute;
      width: 8px;
      height: 8px;
      background: inherit;
    }

    &::before {
      visibility: visible;
      content: '';
      transform: rotate(45deg);
      border-style: solid;
      border-width: 5px;
    }
  }

  &[data-popper-placement^='top'] > .arrow {
    bottom: -4px;

    &::before {
      border-color: transparent black black transparent;
    }
  }

  &[data-popper-placement^='bottom'] > .arrow {
    top: -4px;

    &::before {
      border-color: black transparent transparent black;
    }
  }

  &[data-popper-placement^='left'] > .arrow {
    right: -4px;

    &::before {
      border-color: black black transparent transparent;
    }
  }

  &[data-popper-placement^='right'] > .arrow {
    left: -4px;

    &::before {
      border-color: transparent transparent black black;
    }
  }

  &.inline > .arrow {
    display: none;
  }

  //end popper

  &.show {
    display: block;
  }

  .td-collapse {
    &:not(.show) {
      display: none;
    }
  }

  .td-collapsing {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
  }

  &.timepicker-sbs {
    @media (min-width: 576px) {
      width: 38em;
    }

    @media (min-width: 768px) {
      width: 38em;
    }

    @media (min-width: 992px) {
      width: 38em;
    }

    .td-row {
      display: flex;

      .td-half {
        flex: 0 0 auto;
        width: 50%;
      }
    }
  }

  &:before,
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
  }

  &.bottom {
    &:before {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $td-secondary-border-color;
      border-bottom-color: $td-secondary-border-color-rgba;
      top: -7px;
      left: 7px;
    }

    &:after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid $td-primary-border-color;
      top: -6px;
      left: 8px;
    }
  }

  &.top {
    &:before {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid $td-secondary-border-color;
      border-top-color: $td-secondary-border-color-rgba;
      bottom: -7px;
      left: 6px;
    }

    &:after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $td-primary-border-color;
      bottom: -6px;
      left: 7px;
    }
  }

  &.float-right {
    &:before {
      left: auto;
      right: 6px;
    }

    &:after {
      left: auto;
      right: 7px;
    }
  }

  div[data-action]:active {
    box-shadow: none;
  }

  .timepicker-hour,
  .timepicker-minute,
  .timepicker-second {
    width: 54px;
    font-weight: bold;
    font-size: $td-timepicker-font-size;
    margin: 0;
  }

  button[data-action] {
    padding: 6px;
  }

  .btn[data-action='togglePeriod'] {
    text-align: center;
    width: 38px;
    height: 38px;
  }

  .calendar-header {
    display: grid;
    grid-template-areas: "a a a";
    margin-bottom: 10px;
    font-weight: bold;

    & .next {
      text-align: right;
      padding-right: 10px;
    }
    & .previous {
      text-align: left;
      padding-left: 10px;
    }
    & .picker-switch {
      text-align: center;
    }
  }

  .toolbar {
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 40px;

    & div {
      border-radius: $td-border-radius;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      display: flex;

      &:hover {
        background: $td-btn-hover-bg;
      }
    }
  }

  .date-container-days {
    display: grid;
    grid-template-areas: "a a a a a a a";
    grid-auto-rows: 40px;
    grid-auto-columns: 14.5%;

    & .cw {
      width: 90%;
      height: 90%;
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 0.8em;
      line-height: 20px;
      color: $td-alternate-color;
      cursor: default;
    }
  }

  &.calendarWeeks .date-container-days {
    grid-template-areas: "a a a a a a a a";
  }

  .date-container-decades, .date-container-years, .date-container-months {
    display: grid;
    grid-template-areas: "a a a";
    grid-auto-rows: 40px;
  }

  .time-container-hour, .time-container-minute, .time-container-second {
    display: grid;
    grid-template-areas: "a a a a";
    grid-auto-rows: 40px;
  }

  .time-container-clock {
    display: grid;
    grid-auto-rows: 40px;

    &.clock-columns-1 {
      grid-template-areas: "a";
    }

    &.clock-columns-2 {
      grid-template-areas: "a a a";
    }

    &.clock-columns-3 {
      grid-template-areas: "a a a a";
    }

    &.clock-columns-4 {
      grid-template-areas: "a a a a a a";
    }

    & .no-highlight {
      width: 90%;
      height: 90%;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }

  .date-container-decades, .date-container-years, .date-container-months, .date-container-days,
  .time-container-clock, .time-container-hour, .time-container-minute, .time-container-second {
    div:not(.no-highlight) {
      width: 90%;
      height: 90%;
      border-radius: $td-border-radius;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      display: flex;

      &:hover {
        background: $td-btn-hover-bg;
      }

      &.active {
        background-color: $td-active-bg;
        color: $td-active-color;
        text-shadow: $td-text-shadow;
      }

      &.active.today:before {
        border-bottom-color: #fff;
      }

      &.old,
      &.new {
        color: $td-alternate-color;
      }

      &.disabled,
      &.disabled:hover {
        background: none;
        color: $td-disabled-color;
        cursor: not-allowed;
      }

      &.day {
      }

      &.today {
        position: relative;

        &:before {
          content: '';
          display: inline-block;
          border: solid transparent;
          border-width: 0 0 7px 7px;
          border-bottom-color: $td-active-bg;
          border-top-color: $td-secondary-border-color-rgba;
          position: absolute;
          bottom: 4px;
          right: 4px;
        }
      }
    }
  }

  .time-container {
    margin-bottom: 0.5rem;
  }

  button {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  &.tempus-dominus-widget-readonly {
    table td.day,
    table td.hour,
    table td.minute,
    table td.second,
    table td [data-action='incrementHours'],
    table td [data-action='incrementMinutes'],
    table td [data-action='incrementSeconds'],
    table td [data-action='decrementHours'],
    table td [data-action='decrementMinutes'],
    table td [data-action='decrementSeconds'],
    table td [data-action='showHours'],
    table td [data-action='showMinutes'],
    table td [data-action='showSeconds'],
    table td [data-action='togglePeriod'] {
      pointer-events: none;
      cursor: default;

      &:hover {
        background: none;
      }
    }
  }
}
