$bs-datetimepicker-timepicker-font-size: 1.2em !default;
$bs-datetimepicker-active-bg: #0d6efd !default;
$bs-datetimepicker-active-color: #fff !default;
$bs-datetimepicker-border-radius: 0.25rem !default;
$bs-datetimepicker-btn-hover-bg: #e9ecef !default;
$bs-datetimepicker-disabled-color: #6c757d !default;
$bs-datetimepicker-alternate-color: #6c757d !default;
$bs-datetimepicker-secondary-border-color: #ccc !default;
$bs-datetimepicker-secondary-border-color-rgba: rgba(0, 0, 0, 0.2) !default;
$bs-datetimepicker-primary-border-color: white !default;
$bs-datetimepicker-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !default;

/*
todo look at how bootstrap loops through their vars to make a --root section
 */

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.tempus-dominus-widget {
  list-style: none;
  margin: 2px 0;
  padding: 4px;
  width: 19rem;
  border-radius: 4px;
  display: none;
  background-color: white;
  border: 1px solid black;

  [data-action] {
    cursor: pointer;

    &::after {
      @extend .visually-hidden;
      content: attr(title);
    }

    &.disabled,
    &.disabled:hover {
      background: none;
      color: $bs-datetimepicker-disabled-color;
      cursor: not-allowed;
    }
  }

  //popper
  .arrow {
    &::before {
      visibility: hidden;
      position: absolute;
      width: 8px;
      height: 8px;
      background: inherit;
    }

    &::before {
      visibility: visible;
      content: '';
      transform: rotate(45deg);
      border-style: solid;
      border-width: 1px;
    }
  }

  &[data-popper-placement^='top'] > .arrow {
    bottom: -4px;

    &::before {
      border-color: transparent black black transparent;
    }
  }

  &[data-popper-placement^='bottom'] > .arrow {
    top: -4px;

    &::before {
      border-color: black transparent transparent black;
    }
  }

  &[data-popper-placement^='left'] > .arrow {
    right: -4px;

    &::before {
      border-color: black black transparent transparent;
    }
  }

  &[data-popper-placement^='right'] > .arrow {
    left: -4px;

    &::before {
      border-color: transparent transparent black black;
    }
  }

  &.inline > .arrow {
    display: none;
  }

  //end popper

  &.show {
    display: block;
  }

  .td-collapse {
    &:not(.show) {
      display: none;
    }
  }

  .td-collapsing {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
  }

  &.timepicker-sbs {
    @media (min-width: 576px) {
      width: 38em;
    }

    @media (min-width: 768px) {
      width: 38em;
    }

    @media (min-width: 992px) {
      width: 38em;
    }

    .td-row {
      display: flex;

      .td-half {
        flex: 0 0 auto;
        width: 50%;
      }
    }
  }

  &:before,
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
  }

  &.bottom {
    &:before {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $bs-datetimepicker-secondary-border-color;
      border-bottom-color: $bs-datetimepicker-secondary-border-color-rgba;
      top: -7px;
      left: 7px;
    }

    &:after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid $bs-datetimepicker-primary-border-color;
      top: -6px;
      left: 8px;
    }
  }

  &.top {
    &:before {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid $bs-datetimepicker-secondary-border-color;
      border-top-color: $bs-datetimepicker-secondary-border-color-rgba;
      bottom: -7px;
      left: 6px;
    }

    &:after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $bs-datetimepicker-primary-border-color;
      bottom: -6px;
      left: 7px;
    }
  }

  &.float-right {
    &:before {
      left: auto;
      right: 6px;
    }

    &:after {
      left: auto;
      right: 7px;
    }
  }

  div[data-action]:active {
    box-shadow: none;
  }

  .timepicker-hour,
  .timepicker-minute,
  .timepicker-second {
    width: 54px;
    font-weight: bold;
    font-size: $bs-datetimepicker-timepicker-font-size;
    margin: 0;
  }

  button[data-action] {
    padding: 6px;
  }

  .btn[data-action='togglePeriod'] {
    text-align: center;
    width: 38px;
    height: 38px;
  }

  .picker-switch {
    text-align: center;

    td {
      padding: 0;
      margin: 0;
      height: auto;
      width: auto;
      line-height: inherit;

      div {
        line-height: 2.5;
        height: 2.5em;
        width: 100%;
      }
    }
  }

  table {
    width: 100%;
    margin: 0;

    & tr {
      border-color: inherit;
      border-style: solid;
      border-width: 0;

      & td,
      & th {
        text-align: center;
        border-radius: $bs-datetimepicker-border-radius;
      }

      & th {
        height: 20px;
        line-height: 20px;
        width: 20px;

        &.picker-switch {
          width: 145px;
        }

        &.disabled,
        &.disabled:hover {
          background: none;
          color: $bs-datetimepicker-disabled-color;
          cursor: not-allowed;
        }
      }

      & thead tr:first-child th {
        &:hover {
          background: $bs-datetimepicker-btn-hover-bg;
        }
      }

      & td {
        position: relative;
        height: 0;
        line-height: 0;
        text-align: center;
        outline: none;
        padding: 0.3rem;

        div {
          width: 20px;
          height: 20px;
          line-height: 20px;
          margin-top: 2px;
          margin-bottom: 2px;
          border-radius: $bs-datetimepicker-border-radius;

          &:hover {
            background: $bs-datetimepicker-btn-hover-bg;
          }

          &.active {
            background-color: $bs-datetimepicker-active-bg;
            color: $bs-datetimepicker-active-color;
            text-shadow: $bs-datetimepicker-text-shadow;
          }

          &.active.today:before {
            border-bottom-color: #fff;
          }

          &.old,
          &.new {
            color: $bs-datetimepicker-alternate-color;
          }

          &.disabled,
          &.disabled:hover {
            background: none;
            color: $bs-datetimepicker-disabled-color;
            cursor: not-allowed;
          }

          &.cw {
            font-size: 0.8em;
            height: 20px;
            line-height: 20px;
            color: $bs-datetimepicker-alternate-color;
            cursor: default;
          }

          &.day {
          }

          &.today {
            position: relative;

            &:before {
              content: '';
              display: inline-block;
              border: solid transparent;
              border-width: 0 0 7px 7px;
              border-bottom-color: $bs-datetimepicker-active-bg;
              border-top-color: $bs-datetimepicker-secondary-border-color-rgba;
              position: absolute;
              bottom: 4px;
              right: 4px;
            }
          }
        }
      }
    }
  }

  .time-container {
    margin-bottom: 0.5rem;
  }

  button {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  &.tempus-dominus-widget-readonly {
    table td.day,
    table td.hour,
    table td.minute,
    table td.second,
    table td [data-action='incrementHours'],
    table td [data-action='incrementMinutes'],
    table td [data-action='incrementSeconds'],
    table td [data-action='decrementHours'],
    table td [data-action='decrementMinutes'],
    table td [data-action='decrementSeconds'],
    table td [data-action='showHours'],
    table td [data-action='showMinutes'],
    table td [data-action='showSeconds'],
    table td [data-action='togglePeriod'] {
      pointer-events: none;
      cursor: default;

      &:hover {
        background: none;
      }
    }
  }
}
