bower_components
node_modules
.idea
.vs
obj
bin
site
*.user
*.csproj
*.sln
*.nupkg
src/docs/partials/examples/test.html
src/docs/assets/carbon.css
src/docs/assets/site.webmanifest
/docs/
/dist/plugins/examples/
coverage
dist
types

.DS_Store
