/*
todo look at how bootstrap loops through their vars to make a --root section
 */
.visually-hidden, .tempus-dominus-widget [data-action]::after {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.tempus-dominus-widget {
  list-style: none;
  padding: 4px;
  width: 19rem;
  border-radius: 4px;
  display: none;
  background-color: white;
  border: 1px solid black;
}
.tempus-dominus-widget [data-action] {
  cursor: pointer;
}
.tempus-dominus-widget [data-action]::after {
  content: attr(title);
}
.tempus-dominus-widget [data-action].disabled, .tempus-dominus-widget [data-action].disabled:hover {
  background: none;
  color: #6c757d;
  cursor: not-allowed;
}
.tempus-dominus-widget .arrow::before {
  visibility: hidden;
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}
.tempus-dominus-widget .arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
  border-style: solid;
  border-width: 1px;
}
.tempus-dominus-widget[data-popper-placement^=top] > .arrow {
  bottom: -4px;
}
.tempus-dominus-widget[data-popper-placement^=top] > .arrow::before {
  border-color: transparent black black transparent;
}
.tempus-dominus-widget[data-popper-placement^=bottom] > .arrow {
  top: -4px;
}
.tempus-dominus-widget[data-popper-placement^=bottom] > .arrow::before {
  border-color: black transparent transparent black;
}
.tempus-dominus-widget[data-popper-placement^=left] > .arrow {
  right: -4px;
}
.tempus-dominus-widget[data-popper-placement^=left] > .arrow::before {
  border-color: black black transparent transparent;
}
.tempus-dominus-widget[data-popper-placement^=right] > .arrow {
  left: -4px;
}
.tempus-dominus-widget[data-popper-placement^=right] > .arrow::before {
  border-color: transparent transparent black black;
}
.tempus-dominus-widget.inline > .arrow {
  display: none;
}
.tempus-dominus-widget.show {
  display: block;
}
.tempus-dominus-widget .td-collapse:not(.show) {
  display: none;
}
.tempus-dominus-widget .td-collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (min-width: 576px) {
  .tempus-dominus-widget.timepicker-sbs {
    width: 38em;
  }
}
@media (min-width: 768px) {
  .tempus-dominus-widget.timepicker-sbs {
    width: 38em;
  }
}
@media (min-width: 992px) {
  .tempus-dominus-widget.timepicker-sbs {
    width: 38em;
  }
}
.tempus-dominus-widget.timepicker-sbs .td-row {
  display: flex;
}
.tempus-dominus-widget.timepicker-sbs .td-row .td-half {
  flex: 0 0 auto;
  width: 50%;
}
.tempus-dominus-widget:before, .tempus-dominus-widget:after {
  content: "";
  display: inline-block;
  position: absolute;
}
.tempus-dominus-widget.bottom:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: -7px;
  left: 7px;
}
.tempus-dominus-widget.bottom:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  top: -6px;
  left: 8px;
}
.tempus-dominus-widget.top:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  bottom: -7px;
  left: 6px;
}
.tempus-dominus-widget.top:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  bottom: -6px;
  left: 7px;
}
.tempus-dominus-widget.float-right:before {
  left: auto;
  right: 6px;
}
.tempus-dominus-widget.float-right:after {
  left: auto;
  right: 7px;
}
.tempus-dominus-widget div[data-action]:active {
  box-shadow: none;
}
.tempus-dominus-widget .timepicker-hour,
.tempus-dominus-widget .timepicker-minute,
.tempus-dominus-widget .timepicker-second {
  width: 54px;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}
.tempus-dominus-widget button[data-action] {
  padding: 6px;
}
.tempus-dominus-widget .btn[data-action=togglePeriod] {
  text-align: center;
  width: 38px;
  height: 38px;
}
.tempus-dominus-widget .picker-switch {
  text-align: center;
}
.tempus-dominus-widget .picker-switch td {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  line-height: inherit;
}
.tempus-dominus-widget .picker-switch td div {
  line-height: 2.5;
  height: 2.5em;
  width: 100%;
}
.tempus-dominus-widget table {
  width: 100%;
  margin: 0;
}
.tempus-dominus-widget table tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
.tempus-dominus-widget table tr td, .tempus-dominus-widget table tr th {
  text-align: center;
  border-radius: 0.25rem;
}
.tempus-dominus-widget table tr th {
  height: 20px;
  line-height: 20px;
  width: 20px;
}
.tempus-dominus-widget table tr th.picker-switch {
  width: 145px;
}
.tempus-dominus-widget table tr th.disabled, .tempus-dominus-widget table tr th.disabled:hover {
  background: none;
  color: #6c757d;
  cursor: not-allowed;
}
.tempus-dominus-widget table tr thead tr:first-child th:hover {
  background: #e9ecef;
}
.tempus-dominus-widget table tr td {
  position: relative;
  height: 0;
  line-height: 0;
  text-align: center;
  outline: none;
  padding: 0.3rem;
}
.tempus-dominus-widget table tr td div {
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 0.25rem;
}
.tempus-dominus-widget table tr td div:hover {
  background: #e9ecef;
}
.tempus-dominus-widget table tr td div.active {
  background-color: #0d6efd;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.tempus-dominus-widget table tr td div.active.today:before {
  border-bottom-color: #fff;
}
.tempus-dominus-widget table tr td div.old, .tempus-dominus-widget table tr td div.new {
  color: #6c757d;
}
.tempus-dominus-widget table tr td div.disabled, .tempus-dominus-widget table tr td div.disabled:hover {
  background: none;
  color: #6c757d;
  cursor: not-allowed;
}
.tempus-dominus-widget table tr td div.cw {
  font-size: 0.8em;
  height: 20px;
  line-height: 20px;
  color: #6c757d;
  cursor: default;
}
.tempus-dominus-widget table tr td div.today {
  position: relative;
}
.tempus-dominus-widget table tr td div.today:before {
  content: "";
  display: inline-block;
  border: solid transparent;
  border-width: 0 0 7px 7px;
  border-bottom-color: #0d6efd;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.tempus-dominus-widget .time-container {
  margin-bottom: 0.5rem;
}
.tempus-dominus-widget button {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.tempus-dominus-widget.tempus-dominus-widget-readonly table td.day,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td.hour,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td.minute,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td.second,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=incrementHours],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=incrementMinutes],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=incrementSeconds],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=decrementHours],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=decrementMinutes],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=decrementSeconds],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=showHours],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=showMinutes],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=showSeconds],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=togglePeriod] {
  pointer-events: none;
  cursor: default;
}
.tempus-dominus-widget.tempus-dominus-widget-readonly table td.day:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td.hour:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td.minute:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td.second:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=incrementHours]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=incrementMinutes]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=incrementSeconds]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=decrementHours]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=decrementMinutes]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=decrementSeconds]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=showHours]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=showMinutes]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=showSeconds]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=togglePeriod]:hover {
  background: none;
}

/*# sourceMappingURL=tempus-dominus.css.map */
