<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{ page.projectDescription }}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="{{ page.author }}" />
    <title>{{ page.title }}</title>
    <!--[if lt IE 9]>
      <script type="text/javascript"
        src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="assets/css/layout.css" rel="stylesheet">
    {% include css.html %}
  </head>
  <body>

    <!-- header -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        <a id="forkme_banner" href="{{ page.githubUrl }}">View on GitHub</a>
        <h1 id="project_title">{{ page.projectName }}</h1>
        <h2 id="project_tagline">{{ page.projectDescription }}</h2>
        <section id="downloads">
          <a class="zip_download_link" href="{{ page.downloadUrl }}">Download this project as a .zip file</a>
        </section>
      </header>
    </div>
    <!-- content -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>
    <!-- footer  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">{{ page.projectName }} maintained by <a href="{{ page.authorUrl }}">{{ page.author }}</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
    {% include js.html %}
  </body>
</html>

