<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{ page.projectDescription }}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="{{ page.author }}" />
    <title>{{ page.title }}</title>
    <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include css.html %}
  </head>
  <body>
    <div class="outer">
      <!-- header -->
      <div id="header-wrap" class="row-fluid">
        <a href="{{ page.githubUrl }}"><img
          style="position: absolute; top: 0; right: 0; border: 0;"
          src="assets/img/forkme_right_white_ffffff.png" alt="Fork me on GitHub"></a>
        <header class="span6 offset3">
          <h1>{{ page.projectName }}</h1>
          <h2>{{ page.projectDescription }}</h2>
          <section id="downloads" class="pull-right">
            <div class="img"></div>
            <a class="zip-download-link"
              href="{{ page.zipDownloadUrl }}">
              <span class="download-descr">
                Download this project as a .zip file
              </span>
            </a>
          </section>
        </header>
      </div>
      <!-- content -->
      <div id="main-content-wrap" class="row-fluid">
        <section id="main-content" class="span6 offset3">
          {{ content }}
        </section>
      </div>
      <!-- footer  -->
      <div id="footer-wrap" class="row-fluid">
        <footer class="span6 offset3">
          <p class="copyright">{{ page.projectName }} maintained by <a href="{{ page.authorUrl }}">{{ page.author }}</a></p>
          <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
        </footer>
      </div>
    </div>
    {% include js.html %}
  </body>
</html>

