on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    # First part is the name of the file and the second part is the name of the job.
    needs: setup
    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#      - name: Setup Node
#        uses: actions/setup-node@v3
#        with:
#          node-version: '18'
#      - name: Npm install
#        run: npm ci
      - name: Unit tests
        run: npm run test:coverage
      - name: Build
        run: npm run build
      - name: Build docs
        run: npm run docs
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@main
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
      # Send coverage report to Coveralls
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
